{% extends 'base.html.twig' %}

{% block title %}Hello RDVListController!{% endblock %}

{% block body %}
<h1 style="text-align: center">Vos rendez-vous</h1>
    {% for rdv in rdvs %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3>{{ rdv.heure|date('H:i d-m-Y') }}</h3>
                <h5 class="card-title">Dr.{{ rdv.Medecin.prenom }} {{ rdv.Medecin.nom }}</h5>
                {% if is_granted('ROLE_SECRETAIRE') %}
                    <h4>{{ rdv.patient.username }}</h4>
                {% endif %}
                <p class="card-text">{{ rdv.medecin.specialite }}</p>
                <h3>{{ rdv.etat }}</h3>
                {% if is_granted('ROLE_SECRETAIRE') %}
                    <button type="button" class="btn btn-success"><a href="{{ path("accept", {id: rdv.id}) }}">Accepter</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{ path("decline", {id: rdv.id}) }}">Refuser</a></button>
                {% endif %}

            </div>
        </div>
    {% endfor %}
{% endblock %}
