{% extends 'base.html.twig' %}

{% block title %}Hello BedListController!{% endblock %}
{% block stylesheets %}

    <link href="{{ asset('css/bedList.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="container">
        <section class="header">
            <h1>Liste des chambres de {{ service.libelle }}</h1>
        </section>
        <section class="content">
            <div class="actionChambre">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("bedAdd", {id: id}) }}">Ajouter une chambre</a>
                {% endif %}
            </div>
            <div class="listeChambres">
                {% for chambre in chambres %}
                <div class="choixChambre">
                    <p>Chambre : {{ chambre.NumChambre }} </p>
                    <div class="buttons">
                        <button><a href="{{ path("bedVoir", {id : chambre.id})}}">Voir</a></button>
                        {% if is_granted('ROLE_ADMIN') %}
                            <button><a href="{{ path("bedDel", {id: chambre.id})}}">Supprimer</a></button>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </div>

{% endblock %}
