{% extends 'base.html.twig' %}

{% block title %}Hello MedecinListController!{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    {% for medecin in medecins %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Dr.{{ medecin.prenom }} {{ medecin.nom }}</h5>
            <p class="card-text">{{ medecin.specialite }}</p>
            <a href="{{ path("medecin", {id : medecin.id, action : "view"})}}" class="btn btn-primary">Consulter les horaires</a>
            {% if is_granted('ROLE_SECRETAIRE')%}
                <a href="{{ path("medecin", {id : medecin.id, action : "del"})}}" class="btn btn-primary">Supprimer medecin</a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
    {% if is_granted('ROLE_SECRETAIRE')%}
    <a class="btn btn-primary" href="{{ path("medecinadd")}}">
        Ajouter medecin
    </a>
    {% endif %}
{% endblock %}
